[path]
source =
    src/phyling

[run]
omit =
    **/__init__.py
    **/_[^_]*.py
    tests/*.py
    src/phyling/exception.py

[report]
omit =
    **/__init__.py
    **/_[^_]*.py
    tests/*.py
    src/phyling/exception.py
