FASTQ_TO_FASTA=fastq_to_fasta
HMMALIGN=hmmalign
HMMSEARCH=hmmsearch
TRANSEQ=transeq
CDBFASTA=cdbfasta
CDBYANK=cdbyank
PHRAP=phrap
GENEWISEDB=genewisedb
SREFORMAT=esl-reformat
TRIMAL=trimal
FASTTREE=FastTreeMP
MUSCLE=muscle
FASTA=fasta36
TFASTY=tfasty36
HMMEMIT=hmmemit
EXONERATE=exonerate
CAP3=cap3
BLAT=blat
GFSERVER=gfServer
FATOTWOBIT=faToTwoBit
GFCLIENT=gfClient
DIAMOND=diamond
NRDB=nrdb
